<div class="content mx-auto">
  <h1 class="text-blue mt-6 mb-4"><%= @post.title %></h1>

    <div class="flex items-center">
      <div class="uppercase font-bold text-grey-dark text-sm mr-auto">
        <%= date_release(@post.inserted_at) %>
        -
        <%= gettext("Episódio") %> <%= @post.id %>
      </div>

      <%= post_tags(@post.tags) %>
    </div>

    <div class="mt-2">
      <%= raw @post.body_html %>
    </div>
</div>
